.page-layout {
    @apply p-2 h-5/6 sm:h-full;
    background-image: linear-gradient(90deg, rgb(241, 255, 241), rgb(255, 236, 239));
}
.nav-bar-item {
    @apply flex flex-col justify-center w-1/4 h-1/6 border border-red-200;
}
.footer-nav-bar {
    @apply w-full h-1/6 flex flex-row justify-around sm:hidden;
    background-image: linear-gradient(lightblue, rgb(193, 239, 255), rgb(208, 242, 253), rgb(227, 244, 250));
    color: rgb(212, 129, 173);
}
